body {
    background-color:#480038;
    margin: 0;
}
 header {
    background-color:#5a0c48;
    padding: 2%;
 }

 h1 { 
    margin: 0;
    text-align: center;
 }

 .entradas {
background-color: #6c1859;
margin: 2%;
height: 300px;
width: 60%;
text-align: center;
border-radius: 10px;
 }

 label {
    line-height: 1.4;
 }

 input {  
margin-bottom: 12px;
padding: 10px;
border-radius: 10px;
 }

 select {
margin-bottom: 12px;
width: 200px;
padding: 10px;
border-radius: 10px;
 }

 button {
margin-top:12px;
width: 200px;
padding: 10px;
background-color: #7E2469;
border-radius: 10px;

 }
 .principal{
    display: grid;
    place-items: center;
 }

 .saida {
 background-color: #903079;
margin: 2%;
height: 120px;
width: 20%;
text-align: center;
border-radius: 10px;
 }

